@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

a {
    font-family: 'Plus Jakarta Sans', sans-serif; 
}

p {
    font-family: 'Red Hat Display', sans-serif;
}

header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    padding: 8px;
    position: fixed;
    z-index: 1000;
}

nav {
    margin-right: 20px;
    font-size: 16px;
}

header a {
    text-decoration: none;
    padding-left: 15px;
}

header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

header ul li{
    text-decoration: none;
    margin: 10px;
    color: rgb(255, 255, 255);
}

header ul li:hover{
    font-weight: 900;
}

#logobunny {
    width: 15%;
    opacity: 0.8;
    margin-left: 30px;
}
/*aqui acaba la configuración de la barra superior*/


/*Panel de recibimiento a la página, primera seccion*/
.textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#bienvenida {
    font-size: 50px;
    position: absolute;
    color: whitesmoke;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Playfair Display', serif;
}

#presentacion {
    width: 100%;
    height: 700px;
    background-image: url('https://wallpapercave.com/wp/wp6853319.jpg');
    background-size: cover; 
    background-position: center; 
    position: relative; 
}

#introduccion {
    width: 100%;
    height: 250px;
}

#introduccion p {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    font-size: 17px;
    padding: 10px;
}


/*formato de separadores de página*/
.separacion {
    background-color: #d1c8c2;
}

.separacion h2 {
    color:rgb(58, 54, 54);
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 29px;
    font-family: 'EB Garamond', serif;
}

/*formato de contenedores*/
.contenedor{
    display:flex;
    margin: 10px 5px 10px 5px;
    flex-direction: row;
    padding-bottom: 20px;
}

.caja {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caja img {
    width: 300px;
    padding-top: 10px;
}

.caja p {
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

.caja a {
    color: black;
    text-decoration: none;
}

.caja h3 {
    font-size: 20px;
    margin: 20px;
}

/*sección de grupos*/
.ocultartexto {
    display: none;
}

.btn.btn-primary{
    background-color: #d1c8c2;
    color: black;
    border-color: #d1c8c2;
    transition: color 0.3s ease, text-decoration-color 0.3s ease;
    margin-top: 20px;
}

.btn.btn-primary:hover {
    background-color: #312c29;
    color: #fdfdfd;
    font-weight: 600;
}

.hipGroup {
    color: black;
    transition: color 0.3s ease, text-decoration-color 0.3s ease;
    text-decoration: underline;
    text-decoration-color: transparent;
}

.hipGroup:hover {
    color: #af704c;
}


/*diseño de carrusel de best sellers: inicio*/
#carruseltexto {
    text-align: center;
    padding-top: 150px;
}

.carruselProductos {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh; /*Que siempre a la altura de los elementos del carrusel sea del 70% como minimo */
    padding-left: 30px;
}

.carruselProductos h3 {
    font-size: 100px;
    text-decoration:underline;
    font-weight: bold;
    color: black;
    padding: 30px 10px 30px 10px;
    font-family: 'EB Garamond', serif;
}

.wrapper {
    max-width: 1080px;
    width: 100%;
}

.wrapper i {
    height: 50px;
    width: 50px;
    background: whitesmoke;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    cursor: pointer;
    position: absolute;
    top:1300px;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    font-size: 1.25rem;
}

.wrapper i:first-child {
    right: 95%;
    margin-top: 540px;
    position: absolute;
}

.wrapper i:last-child {
    right: 2%;
    margin-top: 540px;
    position: absolute;
}

.wrapper .carrusel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 1) - 1px ); /*Calcular el tamaÃ±o de las columnas del grid*/
    gap: 35px; /*Espacios entre los divs del carrusel*/
    overflow-x: hidden; /*Para ocultar lo que se salga o desborde del contenedor, en este caso, los dos divs que no se muestran en pantalla*/
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.carrusel::-webkit-scrollbar {
    display: none;
}

.carrusel .tarjeta {
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 342px;
    list-style: none;
    background: #f1e8e1;
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 15px;
    text-align: left;
}

.imgTarjeta {
    display: flex;
    margin: 30px;
}

.tarjeta .imgTarjeta img {
    width: 200px;
    object-fit: cover; /*Para que la imagen se ajuste a su contenedor sin distorsionarse*/
    border-radius: 15px;
    margin: 30px;
}

.contCarrusel {
padding-top: 20px;
}


.tarjeta h3 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30 0 5px;
}

.tarjeta span {
    color: rgb(66, 60, 71);
    font-size: 16px;
    margin: 10px;
    font-family: 'Red Hat Display', sans-serif;
}

@media screen and (max-width: 1000px) {
    .wrapper .carrusel {
        grid-auto-columns: 100%;
    }
}

/*diseño de carrusel de best sellers: fin*/

#experiencia {
    padding-left: 30px;
    padding-top: 50px;
}

/*footer*/
footer {
    display: flex;
    background-color:black;
    padding: 20px 50px 30px 50px;
    font-family: 'Plus Jakarta Sans', sans-serif; 
}

footer h4{ 
    color:#eae5d9;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
}

footer ul {
    color: #eae5d9;
    list-style-type: none;
    padding: 0;
}

footer a{
    text-decoration: none;
    color: #eae5d9;
    font-size: 15px;
    line-height: 1.3;
}

footer a:hover {
    font-weight: 700;
    color: #eae5d9;
    }

footer img {
    width: 60px;
    padding-bottom: 20px;
}

footer p {
    color: #eae5d9;
}

#etiquetas {
    width: 20%;
    padding-top: 30px;}


#logo {
    width: 80%;
    text-align: end;
    justify-content: center;
    padding-top: 20px;
}
