@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

a {
    font-family: 'Plus Jakarta Sans', sans-serif; 
}

p {
    font-family: 'Red Hat Display', sans-serif;
}

header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    padding: 8px;
    position: fixed;
    z-index: 1000;
}

nav {
    margin-right: 20px;
    font-size: 16px;
    padding-right: 30px;
}

header a {
    text-decoration: none;
    padding-left: 15px;
}

header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

header ul li{
    text-decoration: none;
    margin: 10px;
    color: rgb(255, 255, 255);
}

header ul li:hover{
    font-weight: 900;
}

#logobunny {
    width: 15%;
    opacity: 0.8;
    margin-left: 30px;
}