@import url(/styles/reset.css);
@import url(/styles/navGeneral.css);
@import url(/styles/footerStyle.css);
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

/*padding: top, left, bottom, right*/

p {
    line-height: 1.3;
}

main {
    background-color: white;
    padding: 60px 50px 80px 70px;
    display: flex;
    align-items: center;
}
.textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#bienvenida {
    font-size: 50px;
    position: absolute;
    color: whitesmoke;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Playfair Display', serif;
}

#presentacion {
    width: 100%;
    height: 630px;
    background-image: url('https://i.pinimg.com/564x/e9/e8/ba/e9e8ba1bee51e855713cbf20730238b1.jpg');
    background-size: cover; 
    background-position: center; 
    position: relative; 
}

#presentaciontexto p {
    color: black;
    font-size: 17px;
    font-family: 'Red Hat Display', sans-serif;
}

#logoPresenta {
    width: 400px;
    padding: 20px 40px 20px 130px;
}

#segundoCuerpo {
    background-color:rgb(223, 209, 193);
}

#segundoCuerpo h3 {
    font-family: 'EB Garamond', serif;
}

/*Seccion de mision y vision*/

#misionvision {
    padding: 10px 80px 60px 80px;
    display: flex;
    text-align: center;
}

#misionvision h2{
    font-size: 25px;
    font-weight: 550;
}

#misionvision p{
    font-size: 17px;
}

.misvis{
    width: 50%;
    background-color:#eae5d9;
    margin: 10px;
    padding: 20px 20px 20px 20px;
    border-radius: 30px;
}

#sectionValores {
    padding: 50px 70px 10px 70px;
}

#sectionValores h2 {
    font-size: 30px;
    font-weight: 550;
}

#valores {
    display: flex;
    height: 300px;
    padding: 50px 10px 10px 10px;
    justify-content: center;
}

#valores h3 {
    font-size: 22px;
    font-weight: 550;
}

#valores li{
    justify-content: center;
    text-align: center;
    background-color: #eae5d9;
    width: 25%;
    height: 300px;
    border-radius:10%;
    margin: 10px;
}

#valores li p {
    margin: 10px;
}

#valores img {
    padding-top: 30px;
    padding-bottom: 10px;
    width: 80px;
}




